
body {
    background: rgba(229, 229, 229);
    font-family: 'Roboto', sans-serif;
}

.page-header {
    width: 1024px;
    height: 768px;
    background-color: rgba(255, 255, 255);
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.form {
    display: inline-block;
    flex-direction: column;
    margin: 31px auto;
    
    width: 401px;
    padding: 36px;
    height: auto;
    background-color: rgba(247, 245, 249);
    border-radius: 12px;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.25));
    border: 3px solid rgba(0, 0, 0, 0.0);
}

.form:hover {
    border: 3px solid rgba(23, 169, 232);
}

h1 {
    display: inline-block;
    margin: 0px;
    line-height: 20px;
    font-size: 24px;
    font-weight: 700;
    color: rgba(59, 61, 67, 1);
}

h1:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgba(23, 169, 232);
}

h1:hover:after {
    width: 100%;
}

.formfield {
    width: 384px;
    height: 44px;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 0px;
    border-radius: 6px;
    line-height: 20px;
    font-size: 15px;
    font-style: normal;
    border: 1px solid rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.0)
}

.formfield:hover {
    border: 1px solid rgba(106, 32, 243, 0.8);
    box-shadow: 0 0 0px 1px rgb(106, 32, 243, 0.8)
}

.formfield:focus {
    border: 1px solid rgba(133, 79, 200, 1);
}


input.placeholdertext::placeholder {  
    width: fit-content;
    color: rgba(208, 201, 214);
}

input:hover::placeholder {
    border-bottom: 2px solid rgba(106, 32, 243, 0.8);
}

input:focus-visible {
    outline: 0 !important;
}

.submit {
    width: 100%;
    height: 48px;
    padding-left: unset;
    margin-bottom: 2px;
    background-color: rgba(105, 122, 248);
    line-height: 22px;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 3px solid rgba(105, 122, 248);
}

.submit:hover {
    text-decoration: underline 2px rgba(23, 169, 232);
}

#name {
    margin-top: 22px;
}
